@tailwind base;
@tailwind components;
@tailwind utilities;

select option {
  @apply text-gray-500;
}

body {
  color: transparent;
  background: linear-gradient(to bottom right, #0F2C40, #8A6A60);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* overflow-y: scroll; */
}
abbr{
  text-decoration: none;
}

.react-calendar__navigation__prev-button, .react-calendar__navigation__prev2-button,.react-calendar__navigation__next2-button{
  display: none;
}

.react-calendar__navigation{
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.react-calendar__navigation__label{
  margin-right: 1rem;
}
.react-calendar__navigation__next-button{
  font-size: 1.5rem;
}
.react-calendar__month-view__weekdays__weekday{
  text-align: center;
  font-weight: bold;
}
.react-calendar__month-view__days{
  gap: 1rem;
  justify-content: space-evenly;
}
.react-calendar__month-view__days__day{
  min-height: 50px;
  min-width: 50px;
  flex-basis: 0 !important;
  border-radius: 100%;
  box-sizing: border-box; 
  background: #d7b3982c;
}
.react-calendar__tile:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.523);
}
.react-calendar__tile--active {
  background: #d7b398;
}
/* .react-calendar__month-view__weekdays__weekday.react-calendar__month-view__weekdays__weekday--weekend{
  max-width: 50px;
} */

@media (max-width:640px){
  .react-calendar__month-view__days__day{
    min-height: 40px;
    min-width: 40px;
  }
  .react-calendar__month-view__days{
    gap: 0.2rem;
  }
}